.App {
    max-width: 90rem;
    margin: auto;
    text-align: center;
    font-family: 'Poppins'!important;
}

.controlsContainer {
    width: 50rem;
    margin: auto;

    @media (max-width: 800px) {
        width: 100%;
        padding: 0rem;
    }
}

.loadMoreContainer {
    margin: 2rem;
}
